body {
    background-color: papayawhip;
}

h1 {
    color: olive;
    text-align: center;
    font-size: 2.5em;
    font-family: "Trirong", serif;
}

.image {
    width: auto;
    height: 600px;
    background-color: moccasin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 100 px;
    height: auto;
}

.instructions {
    padding: 50px;
    background-color: oldlace;
}

.recipe-card {
    width: 210px;
    height: 140px;
    margin: 1.5em 1.5em;
    background-color: darksalmon;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.recipe-card:hover {
    background-color: burlywood;
}

.recipe-card a:link {
    text-decoration: none;
    font-family: "Trirong", serif;
}

.recipe-card a:hover {
    text-decoration: none;
    font-weight: bold;
}

.recipe-card a:active {
    text-decoration: none;
    font-weight: bold;
    color: cornflowerblue;
}